
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flood Detection</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="./style.css") }} '/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>
  <header>
    <h2>Flood Detection from Social Media Text </h2>
  </header>
  <body>
    <div class="container">
      <div class="img">
        <img src='{{url_for("static",filename="./base.jpeg")}}' type="text/css"/>
      </div>
      <div class="login-container">
        <form action="{{ url_for('Home')}}" method="post">

        <img src= '{{ url_for("static",filename="./water.jpeg") }}' class="image-cropper" />
        <h4> Query Entered: {{entered_text}}</h4>

        <h3> {{prediction_text}} </h3>
        <button class = button type="submit"  href = "{{ url_for('Home')}}" >Back</button>
        <div class="rounded-social-buttons">
            <a class="social-button facebook" href="{{ url_for('login_socialmedia')}}"></a>
            <a class="social-button twitter" href="{{ url_for('login_socialmedia')}}"></a>
            <a class="social-button instagram" href="{{ url_for('login_socialmedia')}}"></a>
            <a class="social-button pinterest" href="{{ url_for('login_socialmedia')}}"></a>
            <a class="social-button google-plus" href="{{ url_for('login_socialmedia')}}"></a>
          </div>
        </form>
      </div>
    </div>
    
    <script type="text/javascript" src='{{ url_for("static",filename="./main.js") }}'></script>
  </body>
  <footer>
    Copyright © 2022 - All rights Reserved - Designed by SE-Team15
  </footer>
</html>
