* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img img {
  width: 700px;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-cropper {
  width: 100px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

form {
  width: 360px;
}

form button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #4c89ce, #47afe3, #4593e6);
  cursor: pointer;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
}

form h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 15px 0;
  color: #333;
}

form h3 {
  font-size: 1.3rem;
  font-style: italic;
  letter-spacing: 3px;
  margin: 15px 0;
  color: rgb(227, 114, 96);
}

form h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  margin: 15px 0;
  color: #333;
}


.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid white;
}
.input-div:after{
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.input-div:after {
  right: 50%;
}
.input-div::before {
  left: 50%;
}
.input-div.focus .i i {
  color: white;
}
.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}
.input-div.focus:after
{
  width: 50%;
}
.input-div.focus:before {
  width: 50%;
}
.input-div.one {
  margin-top: 0;
}
.input-div.two {
  margin-top: 4px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: #999;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.9rem;
  transition: 0.3s;
}
a:hover {
  color: whitesmoke;
}
.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #5557ec, #3134db, #1e2097);
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.rounded-social-buttons .social-button.pinterest {
  background: #cb2027;
}

.rounded-social-buttons .social-button.pinterest:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.pinterest:hover, .rounded-social-buttons .social-button.pinterest:focus {
  color: #cb2027;
  background: #fefefe;
  border-color: #cb2027;
}

.rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.google-plus:hover, .rounded-social-buttons .social-button.google-plus:focus {
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.tumblr {
  background: #32506d;
}

.rounded-social-buttons .social-button.tumblr:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.tumblr:hover, .rounded-social-buttons .social-button.tumblr:focus {
  color: #32506d;
  background: #fefefe;
  border-color: #32506d;
}
header{
  width: 100%;
  height: fit-content;
  background-color: #59acec67;
  color: black;
  height: 10vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
footer {
  width: 100%;
  background-color: #59acec67;
  color: black;
  height: 8vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
/* important part for any devices */
@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
  body {
    background-color: rgb(86, 153, 216);
  }
  form h2 {
    color: whitesmoke;
  }
  .input-div > div h5 {
    color: whitesmoke;
  }
  a {
    color: whitesmoke;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
  body {
    background-color: blueviolet;
  }
  form h2 {
    color: whitesmoke;
  }
  .input-div > div h5 {
    color: whitesmoke;
  }
  a {
    color: whitesmoke;
  }
}
@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .login-container {
    justify-content: center;
  }
  footer {
    width: auto;
    height: auto;
  }
  body {
    background-color: black;
  }
  form h2 {
    color: whitesmoke;
  }
  .input-div > div h5 {
    color: whitesmoke;
  }
  a {
    color: whitesmoke;
  }
}

/*=========== T H A N K   Y O U =============*/
